.python-version
__pycache__/
*.pyc

# Virtual Environment
venv/k
env/
.env/
.venv/

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
coverage.xml
*.cover

# IDE settings
.idea/
.vscode/
*.swp
*.swo

# Local development settings
.env
.env.local
